[MESSAGES CONTROL]
disable=logging-fstring-interpolation,
        duplicate-code,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring

[DESIGN]
max-args=10
max-attributes=10
max-positional-arguments=10